@model IEnumerable<Payroll.Models.Attendance>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsentReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsentCase)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emp.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsentReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsentCase.DaysNumber)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.AttendanceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AttendanceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AttendanceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
